* {
	font-family: roboto;
	font-weight: 400;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #70a838;
	font-size: 32px;
	font-weight: 700;
	height: 100px;
	background-color: #414141;
}

.title h1 {
	text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.2);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.container a {
	text-decoration: none;
	color: #333;
	font-size: 18px;
	margin: 30px 0 50px 0;
}

.container a:hover {
	text-decoration: underline;
}

label {
	display: block;
	margin-top: 1rem;
	margin-bottom: 10px;
}

.xdsoft_noselect::selection {
	background: transparent;
}
.xdsoft_noselect::-moz-selection {
	background: transparent;
}

.xdsoft_time_box {
	position: relative;
	border: 1px solid #ccc;
}
.xdsoft_scrollbar > .xdsoft_scroller {
	background: #ccc !important;
	height: 20px;
	border-radius: 3px;
}
.xdsoft_scrollbar {
	position: absolute;
	width: 7px;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
}

.xdsoft_scroller_box {
	position: relative;
}

.xdsoft_dark .xdsoft_time_box {
	border: 1px solid #333;
}

.xdsoft_dark .xdsoft_scrollbar > .xdsoft_scroller {
	background: #333 !important;
}

#create-employee {
	max-width: 60vw;
	width: 100%;
	display: flex;
	justify-content: center;
	column-gap: 5vw;
	flex-wrap: wrap;
}

#create-employee .address :nth-child(5) {
	margin: 0 0 0px 0;
}

#create-employee .address div {
	margin: 0 0 10px 0;
}
#create-employee .address select {
	margin: 0 0 20px 0;
}
#create-employee .address legend {
	margin-bottom: 10px;
}
#employee-department {
	flex: 1 1 60vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#employee-department select {
	width: 300px;
	margin-bottom: 30px;
}

#employee-department label {
	margin: 30px 0 -10px 0;
}

#create-employee input[type='text'] {
	height: 42px;
	padding: 6px;
}

.address {
	margin: 10px 0 0 0;
	border-radius: 3px;
}

.dropdownMenus {
	margin-top: 30px;
	height: 56px;
	padding-left: 10px;
	width: 100%;
	border: 1px solid black;
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.6);
	font-size: 16px;
	position: relative;
}

#confirmation {
	width: 300px;
	font-size: 22px;
	margin: auto;
	text-align: center;
	margin-top: 30px;
	color: #70a838;
	text-decoration: underline;
}
